[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = git@github.com:eagletmt/neco-ghc.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "bundle/ghcmod"]
	path = bundle/ghcmod
	url = git@github.com:eagletmt/ghcmod-vim.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "bundle/lushtags"]
	path = bundle/lushtags
	url = git@github.com:bitc/lushtags.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
